.header-01{
    letter-spacing: 3px;
}
.form-1{
    width: 100px;
}

.quemSomos{
    text-align: justify;
    
}
.colaboradores img{
    border-radius: 50%;
}
.contato{
    margin-top: 9px;
    margin-right: 20px;
}
.endereco{
    list-style: none;
    text-decoration: none; 
    
}
.contato{
    margin-right: -10px;
    padding-right: 10px;
}

.end{
    text-align: justify;
    padding-left: 70px;
   
   
}
