.header-01{
    letter-spacing: 3px;
}
.form-1{
    width: 100px;
}

.quemSomos{
    text-align: justify;
    
}
.colaboradores img{
    border-radius: 50%;
}
.contato{
    margin-top: 9px;
}
.endereco{
    list-style: none;
    text-decoration: none;
    
}