.header-01{
    letter-spacing: 3px;
}

body{
    font-weight: 400;
    font-family: Lato, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 2.2em;/*espaçamento entre linhas relativa ao tamanho da fonte definida no elemento pai body 2.2 * 15px = 33px coresponde ao tamanho da tela do dispositivo*/
    margin: 0;
}

h1{
    font-size: 63px;
    color: #ffffff;
}
.h2-left{
    margin-top: 6%;
    margin-right: 55%;
    text-align: center;
    color: rgb(255, 0, 200);
}
.a-left {
    margin-left: 23%;
    border-radius: 7px;
    
}
.h3-marTop{
   margin-top: 3%;
    
}

.corFonte{
    color: #ffffff ;
    text-shadow: #ff1493 1px 1px 5px;
    font-size: 45px;
    font-family: 'Caveat', cursive;

}
.corFonte2{
    color: #ffffff ;
    text-shadow: #ff1493 1px 1px 5px;
    font-family: 'Caveat', cursive;
    font-size: 35px;
}
.corFonte3{
    color: #ffffff;
    text-shadow: #ff1493 1px 1px;
  
}
.corFonte5{
    color: #ffffff;
    text-shadow: #ff1493 1px 1px;
   
}
.corFonte6{
    color: #ffffff;
    text-shadow: #ff1493 1px 1px;
  
}
.corFonte4{
    color: #ffffff;
    text-shadow: #ff1493 1px 1px;
    font-family: Lato, Helvetica, sans-serif;

   
}
.corFundo1{
    color: #ff69b4 ;
    text-shadow: #000000 1px 3px 1px;
    font-size: 55px;
    font-family: 'Caveat', cursive;
    font-weight: 600px;

}
.corFundo2{
    color: #ff69b4 ;
    text-shadow: #000000 1px 3px 1px;
    font-size: 45px;
    font-family: 'Caveat', cursive;
}
.corFundo3{
    color: #FF00FF;
    text-shadow: #000000 1px 2px 1px;
}
.corFundo4{
    color: #ea00ff;
    text-shadow: #000000ad 1px 1px;
    font-family: 'Caveat', cursive;
}
.testoH2{
    font-family: 'Caveat', cursive;
    font-size: 55px;
}
.quemSomos{
    text-align: justify;
    
}
#quemSomos{
    font-size: 30px;
    margin-top: -5px;
}
.meusProdutos{
    border-radius: 10px;
}
.colaboradores img{
    border-radius: 50%;
}
.contato{
    margin-top: 9px;
}
.endereco{
    list-style: none;
    text-decoration:none; 
    
}

figure img {
    border-radius: 5px;
}